@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

body {
    padding-top: 5rem;
    background-color: green;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}